*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* index */
.home-title {
    box-sizing: border-box;
    color:rgb(218, 159, 51);
    
    margin: 10px 100px 20px 50px;
    width: 400px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    border: dotted rgb(9, 78, 38) 12px;
    padding: 20px;
    font-size: 45px;
    text-align: center;



}
.author {
    box-sizing: border-box;
    margin: 10px 100px 10px 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 400px;
    text-align:left;
    border-bottom: solid black 2px;
    padding-bottom: 1em;
    font-size: 13px;

}
.menu,
li, .recipes
{
    
    box-sizing: border-box; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 400px;
    margin:10px 100px 10px 50px;

}
li::marker{

    color: black;
}
.menu {
font-style: oblique;
color: rgb(9, 78, 38);
text-align: center;
font-size: 30px;

}

.recipes{
    text-align: justify;
    padding-left: 100px;
    padding-bottom: 1em;
    font-size: 20px;
}
/* recipe pages */

.heading1 {
    box-sizing: border-box; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 600px;
    margin:10px 100px 10px 50px;
    color: rgb(9, 78, 38);
    border-bottom: dotted rgb(218, 159, 51) 10px ;
    text-align: center;
    padding-bottom: 10px;
}

.homelink{
   margin:10px 100px 10px 50px; 
}
.heading2{
    box-sizing: border-box; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 600px;
    text-align: center;
    color: rgb(218, 159, 51);
    margin:10px 100px 10px 50px;
}
.description,
.image {
    box-sizing: border-box; 
    
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 600px;
    margin:10px 100px 10px 50px;
}

.image {
    border: 5px;
    border-style: groove;
    border-color: orange;
}

li{
    color: black;
}

.heading3{
    box-sizing: border-box;
    width: 200px;
    text-align: center;
    margin:10px 100px 10px 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: rgb(9, 78, 38); 
}
.heading3.steps{
    text-align: left;
    padding-left: 45px;
}




